---
import Head from '../../components/Head.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/sections/Hero.astro';
import Capacidades from '../../components/sections/Capacidades.astro';
import Diferenciador from '../../components/sections/Diferenciador.astro';
import Productos from '../../components/sections/Productos.astro';
import Contacto from '../../components/sections/Contacto.astro';
import Footer from '../../components/Footer.astro';
import data from '../../data/en.json';
import '../../styles/global.css';

const locale = 'en';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head data={data} />
  </head>
  <body>
    <Header locale={locale} data={data} />
    <main>
      <Hero data={data} />
      <Capacidades data={data} locale={locale} />
      <Productos locale={locale} />
      <Diferenciador data={data} />
      <Contacto data={data} />
    </main>
    <Footer data={data} locale={locale} />
  </body>
</html>
