---
export interface Props {
  data: {
    site: {
      title: string;
      description: string;
      url: string;
    };
  };
}

const { data } = Astro.props;
---

<title>{data.site.title}</title>
<meta name="description" content={data.site.description} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/svg+xml" href="/assets/logo-color.svg" />
<link rel="canonical" href={data.site.url} />

<meta property="og:title" content={data.site.title} />
<meta property="og:description" content={data.site.description} />
<meta property="og:url" content={data.site.url} />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={data.site.title} />
<meta name="twitter:description" content={data.site.description} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Aller:ital,wght@0,700;1,700&family=Inter:ital,opsz,wght@0,14..32,400..500;1,14..32,400..500&display=swap"
  rel="stylesheet"
/>
