---
import Head from '../../components/Head.astro';
import Header from '../../components/Header.astro';
import FluxPage from '../../components/sections/FluxPage.astro';
import Contacto from '../../components/sections/Contacto.astro';
import Footer from '../../components/Footer.astro';
import data from '../../data/es.json';
import '../../styles/global.css';

const locale = 'es';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <Head data={data} />
    <style>
      body { background: #0E0F14; }
    </style>
  </head>
  <body>
    <Header locale={locale} data={data} />
    <FluxPage data={data} locale={locale} />
    <Contacto data={data} />
    <Footer data={data} locale={locale} />
  </body>
</html>
